<div>
  <p><%= comment.body %></p>
  <p>
  <div class="event-image">
    <% if comment.image.present? %>
      <%= image_tag comment.image %>
    <% end %>
  </div>
  <span>
      <% if comment.user.present? %>
        <%= comment.user.name %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
  <em><%= I18n.l(comment.created_at, format: :short) %></em>
  <% if current_user_can_edit?(comment) %>
    <%= button_to "Удалить коммент", event_comment_path(comment.event, comment),
                  method: :delete, class: 'btn btn-danger', data: {confirm: "Точно удалить?"}
    %>
  <% end %>
  </p>
