<style>
  .user-info {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFF;

  }
  .container img {

    margin: auto;
    display: block;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <div class="user-info">
        <h1><%= @user.name %></h1>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar %>
        <% else %>
          <%= image_tag user_avatar(@user) %>
        <% end %>
        <% if @user == current_user %>
          <%= button_to 'Редактировать профиль', edit_user_path(@user), method: :get, class: 'btn btn-secondary' %>
        <% end %>
      </div>

      <p>С нами с <%= l(@user.created_at, format: :short) %></p>
      <p>Написал <%= @user.comments.count %> комментариев</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 justify-content-center">
    <% if @user.events.any? %>
      <h3>Организовал:</h3>
      <div class="row">
        <%= render partial: 'events/event', collection: @user.events %>
      </div>
    <% else %>
      <p class="buffer-top">Пользователь пока не организовал ни одного события</p>
    <% end %>
  </div>
</div>