<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div style='background-image: url(background.jpg)'>
      <div class="container">
        <div class="card" style="width: 18rem">
          <div class="card-img-top" style="max-height: 150px">
            <% if event.image.present? %>
              <%= image_tag event.image %>
            <% else %>
              <%= image_tag 'default_event.png' %>
            <% end %>
          </div>
          <div class="card-body">
            <h2 class="card-title"><%= link_to event.title, event_path(event) %></h2>

            <h3 class="buffer-both"><%= event.event_type %></h3>
            <h6>Начало: <%= l(event.datetime, format: :short) %></h6>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>