<div class="event">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-9 border rounded">
          <h1><%= @event.title %></h1>
          <h3>Начало: <%= l @event.datetime, format: :short %></h3>
          <div class="img-responsive">
            <% if @event.image.present? %>
              <%= image_tag @event.image %>
            <% else %>
              <%= image_tag 'default_event.png' %>
            <% end %>
          </div>
          <h3>
            <small><%= @event.event_type %></small>
          </h3>

          <div class="btn-group buffer-both">
            <% if current_user_can_edit?(@event) %>

              <%= button_to 'Изменить', edit_event_path(@event), method: :get,
                            class: 'btn btn-primary' %>
              <%= button_to 'Удалить', event_path(@event), method: :delete, data: {confirm: "Are you sure?"},
                            class: 'btn btn-danger' %>

            <% end %>
          </div>
        </div>
        <div class="col-md-3 border rounded">
          <div>

            <h4>Организатор:</h4>
            <p><%= render partial: 'users/user', object: @event.user %></p>
          </div>

          <p>Описание события:</p>
          <p><%= @event.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 border rounded">
    <div class="buffer-top border rounded">
      <%= render partial: 'comments/form',
                 locals: {comment: @new_comment || @event.comments.build} %>
      <div class="buffer-both border border-success">
        <%= render partial: 'comments/comment',
                   collection: @event.comments.except(@new_comment) %>
      </div>
    </div>
  </div>

  <div class="col-md-3 border rounded">
    <div>
      <h4>Участники:</h4>
      <div>
        <p>
          <%= render partial: 'subscriptions/subscription',
                     collection: @event.subscriptions.except(@new_subscription) %>
        </p>
      </div>
    </div>
    <% if @event.not_expired? %>
      <% if current_user != @event.user %>
        <div>
          <h4>Я пойду:</h4>
          <div>
            <%= render partial: 'subscriptions/form', locals: {
                subscription: @new_subscription || @event.subscriptions.build
            } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>