<style>
  .event-user img {
    border-radius: 50%;
    max-width: 100px;
  }
    .event-image img {
      border-radius: 10px;
    }

</style>
<div class="event">
  <div class="row">
    <div class="col-md-6">
      <div class="event-image">
        <% if @event.image.present? %>
          <%= image_tag @event.image %>
        <% else %>
          <%= image_tag 'default_event.png' %>
        <% end %>
      </div>

      <div class="btn-group mt-3">
        <% if current_user_can_edit?(@event) %>
          <%= button_to 'Изменить', edit_event_path(@event), method: :get,
                        class: 'btn btn-primary' %>
          <%= button_to 'Удалить', event_path(@event), method: :delete, data: {confirm: "Are you sure?"},
                        class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h1><%= @event.title %></h1>
      <h3>Начало: <%= l @event.datetime, format: :short %></h3>
      <div class="event-user">
        <h4>Организатор:</h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>
      <h3>
        <small><%= @event.event_type %></small>
      </h3>
      <p>Описание события:</p>
      <p><%= @event.description %></p>
    </div>
  </div>
</div>

<div class="container border rounded">
  <div class="row">
    <div class="col-md-2">
      <div class="event-user">
        <h4>Участники:</h4>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription',
                       collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <div>
        <% if @event.not_expired? %>
          <% if @event.subscriptions.map { |subscription| subscription.user_id }.exclude?(current_user.id) %>
            <%= render partial: 'subscriptions/form', locals: {
                subscription: @new_subscription || @event.subscriptions.build
            } %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-10">
      <h2>Добавить комментарий:</h2>
      <%= render partial: 'comments/form',
                 locals: {comment: @new_comment || @event.comments.build} %>
      <% if @event.comments.present? %>
        <h2>Комментарии:</h2>
        <%= render partial: 'comments/comment',
                   collection: @event.comments.except(@new_comment) %>
      <% end %>
    </div>
  </div>
</div>


